<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Strona główna Hotelu</title>
    <meta name="description" content="Strona domowa Hotelu">
    <meta name="keywords" content="hotel, noclegi, nocleg, zakwaterowanie">
    <meta name="author" content="Marcel Zmeczerowski">
    <meta http-equiv="X-Ua-Compatible" content="IE=edge">

    <link rel="shortcut icon" href="/main/img/shortcut_icon.webp">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main/css/main.css">
    <link rel="stylesheet" href="/fontello/css/fontello.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

</head>
<body>
    <div>

        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div class="col-form-label"><label> User Name : <input type="text" name="username"/> </label></div>
            <div class="col-form-label"><label> Password: <input type="password" name="password"/> </label></div>
            <div><input  class="btn-primary" type="submit" value="Sign In"/></div>
        </form>

    </div>

</body>
</html>