<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Logowanie do serwisu</title>
    <meta name="description" content="Rejestracja">
    <meta name="keywords" content="rejestracja, zarejestrowanie, hotel rejstr">
    <meta name="author" content="Marcel Zmeczerowski">
    <meta http-equiv="X-Ua-Compatible" content="IE=edge">

    <link rel="shortcut icon" href="/main/img/shortcut_icon.webp">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main/css/main.css">
    <link rel="stylesheet" href="/fontello/css/fontello.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

</head>
<body>
    <header>
        <h1 class="title">Dziękujemy, że postanowiłeś skozystać z naszych usług</h1>
        <h1 class="m-5 text-center" style="font-size: 20px;">Wypełnij poniższe pola aby dokonać rejestracji</h1>
    </header>

    <main>
        <div class="container">
            <div class="form-box form-box-reg">
                <!--/*@thymesVar id="login_error" type="java"*/-->
                <div th:if="${login_error}" class="text-center text-danger">
                    Taki login już istnieje w bazie danych.
                </div>
                <!--/*@thymesVar id="email_error" type="java"*/-->
                <div th:if="${email_error}" id="logout-info" class="text-center">
                    Taki email już isnieje w bazie danych.
                </div>
                <form th:action="@{/login}" method="post">
                    <div class="form-group">
                        <label for="username">Login</label>
                        <input class="form-control" type="text" name="username" id="username" placeholder="username"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Hasło</label>
                        <input class="form-control" type="password" name="password" id="password" placeholder="password"/>
                    </div>
<!--                    <div class="form-group">-->
<!--                        <a class="alert-link" th:href="@{/registration}">Nie posiadam jeszcze konta. Załóż konto</a>-->
<!--                    </div>-->
                    <div class="form-group text-center">
                        <input  class="btn btn-primary w-50" type="submit" value="Załóż konto"/>
                    </div>
                </form>
            </div>


        </div>
    </main>

    <footer>
        Strona została stworzona na potrzeby Pracy Licencjackiej &copy Wszelkie prawa zastrzeżone
    </footer>


</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

<script src="/bootstrap/js/bootstrap.min.js"></script>

</html>